plotly>=5.1.0
scipy>=1.7.0
sympy>=1.8
numpy>=1.21.1
matplotlib>=3.4.2
plasmaboundaries>=0.1.8
jupyter-cadquery>=2.2.0

# tests require additional packages
pytest-cov>=2.12.1
pytest-runner>=5.3.1
nbformat>=5.1.3
nbconvert>=6.1.0

# Note, cadquery not installed via pip to avoid installing cadquery version 1
