scipy
sympy
plotly
pytest
pytest-cov
numpy
plasmaboundaries
matplotlib
pillow

# Note, cadquery not installed via pip to avoid installing cadquery version 1

# cython  # needed for export_h5m with pymoab

# Additional packages needed for neutronics simulations
# vtk
# neutronics_material_maker
# parametric_plasma_source
