scipy
sympy
plotly
pytest
pytest-cov
numpy
plasmaboundaries==0.1.8
matplotlib
pillow

# Note, cadquery not installed via pip to avoid installing cadquery version 1

# pip install jupyter-cadquery==2.0.0 should be added but requires cadquery which is not available via pip

# cython  # needed for export_h5m with pymoab

# Additional packages needed for neutronics simulations
# vtk
# neutronics_material_maker==0.3.2
# parametric_plasma_source
