# Builds a dockerimage and then runs tests from within the docker enviroment

name: CI with docker build
on:
  pull_request:
    branches:
    - develop
    - main
    paths:
      - "**.py"
      - "**.ipynb"
      - "**.yml"
      - "**.cfg"
      - "**.toml"
      - "**.sh"

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build and test with Docker
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker build -t paramak --build-arg cq_version=2.1 .
          docker run --rm paramak  /bin/bash -c "bash run_tests.sh"
